.container {
  width: 100%;
  height: 100%;
  position: relative;
  background: #d9d9d9;
}
.content {
  width: 1200px;
  height: 100%;
  background: #ffffff;
  /* float: right; */
  left: 50%;
  margin-left: -600px;
  position: relative;
  /* background: #d9d9d9; */
}

.floatLeft {
  float: left;
}
