.con {
    width: 100%;
    /* height: 150%; */
    position: absolute;
}

.container {
    width: 1150px;
    height: 1832px;

    background: #eeeffb;
    box-shadow: 0px 0px 25px 10px #f8f8fb;
    margin-top: 150px;
    margin-bottom: 50px;
    left: 50%;
    margin-left: -575px;
    position: relative;
}

.title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 20px;
    /* or 80% */

    color: red;
    margin-top: 30px;
    margin-left: 20px;
    position: absolute;
}

.bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* Gray/800 */

    color: #3f3f3f;
    position: absolute;
    margin-left: 20px;
}

.label {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* Gray/800 */

    color: #3f3f3f;
}

.input {
    width: 578px;
    height: 37px;

    background: #ffffff;
    border: 1px solid #c2c5e1;
    border-radius: 2px;
    margin-left: 60px;
}

.row {
    float: right;
    margin-right: 150px;
    margin-bottom: 40px;
}

.img {
    width: 300px;
    height: 200px;
    margin-left: 250px;
}

.img2 {
    width: 300px;
    height: 200px;
    float: right;
    margin-right: 250px;
}

.btn {
    width: 118px;
    height: 36px;

    background: #3918d9;
    border-radius: 4px;
    margin-bottom: 100px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-left: 50px;
    color: #ffffff;
}

.btnCancel {
    width: 79px;
    height: 36px;

    background: #f7f5ff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #3918d9;
    border: 1px solid #3918d9;
    border-radius: 4px;
}

.conBtn {
    margin-left: 70%;
}

.ipImg {
    position: absolute;
    margin-left: 300px;
}

.ipImg2 {
    position: absolute;
    margin-left: 700px;
}