.root {
    background: #f9fafb;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 170%;
}
.l {
    display: block;
}
.info {
    width: 1174px;
    height: 1530px;
    background: #ffffff;
    left: 50%;
    margin-left: -500px;
    position: absolute;
    border: 1px solid #e5e7eb;
    margin-top: 40px;
    box-shadow: #000000;
}

.floatLeft {
    float: left;
}

.title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 20px;
    /* identical to box height, or 80% */
    margin-left: 20px;
    color: #000000;

    /* float: left; */
}

.lable {
    width: 100%;
    text-align: right;
    float: right;
    margin-left: 80px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    /* or 150% */

    /* Gray/800 */

    color: #3f3f3f;
}

.inputImg {
    /* float: left; */
    height: 32px;

    margin: 16px 0px 16px 0px;
    margin-left: 20px;
}

.inputText {
    width: 746px;
    height: 32px;
    background: #ffffff;
    font-size: 20px;

    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin: 16px 0px 16px 0px;
    margin-left: 20px;
}

.drop {
    width: 254px;
    height: 32px;

    background: #ffffff;
    margin: 16px 0px 16px 0px;
    border: 1px solid #e0e0e0;
    margin-left: 20px;
    font-size: 20px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.col1 {
    width: 25%;
    height: 100%;
    float: left;
}

.col2 {
    width: 75%;
    height: 100%;
    float: right;
}

.textarea {
    width: 753.86px;
    height: 197px;
    left: 832.31px;
    font-size: 20px;
    top: 769px;
    background: #ffffff;
    border: 1px solid #b1b1b1;
    margin: 16px 0px 16px 0px;
    margin-left: 20px;
    border-radius: 4px;
}

.auction {
    width: 1174px;
    height: 225px;
    background: #ffffff;
    left: 50%;
    margin-left: -500px;
    position: absolute;
    margin-top: 680px;
}

.datePicker {
    width: 748px;
    background: #ffffff;

    border: 1px solid #8a8fb9;

    box-shadow: 0px 0px 0px 3.2px rgba(32, 162, 232, 0.25);
    border-radius: 4px;
    margin: 16px 0px 16px 0px;
    margin-left: 20px;
}

.date {
    width: 748px;
    /* background: #ffffff;

  border: 1px solid #8a8fb9;

  box-shadow: 0px 0px 0px 3.2px rgba(32, 162, 232, 0.25);
  border-radius: 4px; */
    margin: 16px 0px 16px 0px;
    margin-left: -260px;
    text-align: center;
    /* float: right; */
}

.btn {
    /* width: 1174px;
    left: 50%;
    margin-left: -600px;
    position: absolute;
    margin-top: 1200px; */
}
.txt {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: 20px;
    line-height: 34px;
}
.btnCancel {
    position: absolute;
    width: 118px;
    height: 54px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #111827;
    background: #7c3aed;
    margin-left: 1040px;
    margin-top: 1500px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
}

.btnDraft {
    width: 140px;
    height: 36px;

    background: #f7f5ff;
    border: 1px solid #3918d9;
    border-radius: 4px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    float: right;
    margin-left: 20px;
    color: #3918d9;
}

.btnSave {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 143% */

    /* Gray_02/100 */
    position: absolute;
    width: 119px;
    height: 54px;

    margin-left: 980px;
    margin-top: 1200px;
    background: #7c3aed;
    border-radius: 8px;
    color: #ffffff;
}

.img {
    width: 100px;
    height: 80px;
    margin-left: 20px;
}

.video {
    width: 150px;
    height: 100px;
    margin-left: 20px;
}

.auctionForm {
    width: 1174px;
    height: 354px;
    left: 50%;
    margin-left: -500px;
    margin-top: 980px;
    position: absolute;
    background: #ffffff;
}

.btn2 {
    width: 1174px;
    left: 50%;
    margin-left: -500px;
    position: absolute;
    margin-top: 1350px;
}

.btnSave2 {
    width: 120px;
    height: 36px;

    background: #3918d9;
    border-radius: 4px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    float: right;
    color: #ffffff;
    margin-left: 20px;
}

.preview {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}

.image {
    width: 100px;
    height: 100px;
    margin-left: 110px;
}

.delete {
    cursor: "pointer";
    padding: 15;
    background: "red";
    color: "white";
    border: "none";
}

.conImg {
    width: 100%;
    height: 100px;
}

.popup {
    width: 500px;
    height: 200px;
    top: 40%;
    left: 50%;
    margin-left: -250px;
    position: fixed;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #3918d9;
    box-shadow: #3918d9 5px;
}
.fl {
    display: flex;
}
.r {
    width: 70%;
    float: right;
}
.l {
    width: 30%;
    float: left;
}
