.footer {
  position: relative;
  width: 100%;
  height: 300px;
  background: #eeeffb;
  display: table;
}

.col1 {
  width: 50%;
  height: 100%;
  display: table-cell;
  /* padding: 1rem; */
  padding: 30px;
}
.col2 {
  width: 20%;
  height: 100%;
  display: table-cell;
  /* padding: 1rem; */
  padding: 30px;
}
.col3 {
  width: 30%;
  height: 100%;
  display: table-cell;
  /* padding: 1rem; */
  padding: 30px;
}
.label {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 38px;
  /* identical to box height */

  color: #000000;
  margin-left: 40px;
}

.input {
  background: #ffffff;
  opacity: 0.45;
  border-radius: 3px;
  width: 180px;
  height: 20px;
  margin-left: 40px;
  margin-top: 20px;
}
.btn {
  background: #151875;
  border-radius: 3px;
  height: 26px;
  width: 80px;
  color: #ffffff;
}

.txt {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  /* sub text color */

  color: #8a8fb9;
  margin-left: 40px;
}
.txtBold {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */

  color: #000000;
  margin-left: 40px;
}
