.footer {
    position: relative;
    width: 100%;
    height: 55px;
    background: #e7e4f8;
}
.txt {
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    left: 20%;
    top: 30%;
    color: #9da0ae;
    position: relative;
}
.LinkIcon {
    left: 60%;
    position: absolute;
}
.icon {
    margin-left: 20px;
}
