.header {
    width: 100%;
    height: 44px;
    background: #2f1ac4;
    position: relative;
}

.select {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    color: #f1f1f1;
    background: #2f1ac4;
    margin-left: 67%;
    margin-top: 9px;
    position: relative;
}

.link {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    color: #f1f1f1;
    text-decoration: none;
    margin-left: 30px;
    position: relative;
}

.txt {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    color: #f1f1f1;
    margin-left: 80px;
    margin-right: 10px;
    margin-top: 9px;
    position: relative;
}

.icon {
    width: 30px;
    height: 30px;
    /* background: #ffffff; */
    margin-left: 30px;
    margin-top: 6px;

    color: #ffffff;
    position: absolute;
}
.icon2 {
    width: 30px;
    height: 30px;
    /* background: #ffffff; */
    margin-left: 70px;
    margin-top: 6px;

    color: #ffffff;
    position: absolute;
}
