.r {
    position: relative;
}
.container {
    background: #f9fafb;
    width: 100%;
    height: 100%;
    position: absolute;
}
.con {
    width: 1280px;
    height: 751px;

    background: #ffffff;

    border: 1px solid #e5e7eb;
    border-radius: 8px;
    margin-top: 100px;
    margin-left: 380px;
    position: absolute;
    margin-bottom: 100px;
}
.table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    text-align: left;
    padding: 18px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    background-color: #bcddfe;
    color: white;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 185% */

    /* Grey/Grey 90 */

    color: #111827;
}
.btns {
    width: 100%;
    height: 70px;
    display: flex;
}
.btn {
    width: 80px;
    height: 40px;
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: 20px;
    border: 1px solid darkgrey;
}
.btn2 {
    height: 40px;
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: 20px;
    border: 1px solid darkgrey;
}
.btn:hover {
    background-color: aqua;
}
.btn2:hover {
    background-color: aqua;
}
.ip {
    margin-top: 13px;
    border-radius: 15px;
    border: 1px solid darkgrey;
    width: 200px;
    height: 40px;
    margin-left: 500px;
}
.iconView {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
.iconView:hover {
    color: aqua;
}
.Pagination {
    margin-top: 15px;
    float: right;
}
