.banner {
    width: 100%;
    height: 764px;
    background: #f2f0ff;
}
.col1 {
    width: 60%;
    height: 764px;
    float: left;
}
.col2 {
    width: 40%;
    height: 764px;
    float: right;
}
.txtRed {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #fb2e86;
    margin-top: 150px;
    margin-left: 150px;
}
.txtTitle {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 70px;
    letter-spacing: 0.015em;
    margin-left: 150px;
    color: #000000;
}
.txtNormal {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    margin-left: 150px;
    color: #8a8fb9;
}
.img {
    width: 650px;
    height: 650px;
    margin-top: 50px;
}
.btn {
    width: 163px;
    height: 50px;
    background: #fb2e86;
    border-radius: 2px;
    margin-left: 150px;
    text-decoration: none;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 0.02em;

    color: #ffffff;
    padding: 10px;
}
.featured {
    width: 100%;
    height: 600px;
    text-align: center;
}
.titleBule {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    /* identical to box height */

    color: #1a0b5b;
}
.RelatedAuctions {
    position: relative;
    width: 1100px;
    height: 400px;
    left: 50%;
    margin-left: -550px;
    background: #ffffff;
    margin-top: 100px;
    margin-bottom: 100px;
}
.tb {
    width: 1100px;
    height: 300px;
    display: table;
    position: absolute;
}
.col {
    /* position: absolute; */
    width: 25%;
    height: 100%;
    display: table-cell;
}
.txtImg {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    /* Text */

    color: #151875;
    margin: 10%;
}
.txtImgS {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    /* identical to box height */

    /* Text */

    color: #151875;
    margin: 10%;
}
.img2 {
    width: 85%;
    height: 95%;
    margin-left: 5%;
}
.btnF {
    background: #fb2e86;
    border-radius: 2px;
    text-decoration: none;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    padding: 7px;
    letter-spacing: 0.02em;

    color: #ffffff;
}
.banner2 {
    width: 100%;
    height: 579px;

    background: #f1f0ff;
}
.colR {
    width: 50%;
    height: 579px;
    float: right;
}
.colL {
    width: 50%;
    height: 579px;
    float: left;
}
.imgB {
    width: 500px;
    height: 500px;
    float: right;
    padding: 39px;
}
.txtN {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    /* or 21px */

    letter-spacing: 0.015em;

    color: #acabc3;
}
.LeatestNew {
    width: 100%;
    height: 600px;
    background: #ffffff;
    text-align: center;
}
.Link {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    text-decoration-line: underline;

    /* pink */

    color: #fb2e86;
}
