/* .nav {
    width: 1200px;
    height: 50px;
    left: 50%;
    margin-left: -600px;
    position: relative;
}

.txtTitle {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;

    color: #151875;
}

.txtBlue {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #3f509e;
    margin-left: 25px;
    margin-right: 5px;
}

.select {
    width: 200px;
    height: 28px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid #bcbddb;

    color: #8a8fb9;
}

.ip {
    width: 200px;
    height: 28px;
    background: #ffffff;
    border: 1px solid #bcbddb;
    border-radius: 3px;
}

.btnSearch {
    width: 60px;
    height: 28px;
    border: 1px solid #bcbddb;
    background: #fb2e86;

    border-radius: 3px;
}

.floatRight {
    float: right;
    display: flex;
}

.sidebar {
    float: left;
    width: 10%;
    height: 100%;
    padding-left: 20%;
}

.txtBlueBold {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    text-align: center;

    color: #151875;
}

.txtNormal {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    text-align: center;

    color: #7e81a2;
}

.products {
    width: 50%;
    height: 100%;
    float: right;
    padding-right: 20%;
}

.product {
    width: 920px;
    height: 230px;

    background: #ffffff;
    box-shadow: 0px 0px 20px 5px rgba(248, 246, 253, 0.75);
}

.img {
    width: 280px;
    height: 200px;
    float: left;
    margin: 15px;
    border: 1px solid bisque;
}

.txtBlueB {
    padding-top: 20px;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    color: #111c85;
}

.txtDes {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #9295aa;
}

.link {
    text-decoration: none;
    background: #fb2e86;
    border: 1px solid #fb2e86;
    border-radius: 5px;
    float: right;
    margin-right: 20px;
    padding: 4px;
}

.hr {
    width: 160px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
} */
body {
    margin: 0px;
    height: 100%;
}
.nav {
    width: 30%;
    float: left;
    /* height: 100vh; */
    margin-bottom: 30px;
}
.content {
    width: 70%;
    float: right;
}
.conSearch {
    width: 346px;
    height: 74px;
    background: #f6f7f8;
    margin-left: 60px;
    margin-top: 40px;
    border-radius: 15px;
}
.ip {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    border-radius: 15px;

    color: #262626;
    width: 269px;
    height: 51px;
    background: #d9d9d9;
    margin-top: 8px;
    margin-left: 10px;
}
::placeholder {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    color: #979797;
}
.icon {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 15px;
}
.category {
    width: 345px;
    margin-left: 60px;
    margin-top: 20px;
    background: #f6f7f8;
    position: relative;
    padding-top: 10px;
    border-radius: 15px;
}
.label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #262626;
    margin-left: 20px;
}
.num {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #22262a;
    float: right;
    margin-right: 20px;
    opacity: 0.35;
}
.title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-left: 20px;
    font-weight: bold;
    color: #22262a;
}
.m {
    border: none;
    padding: 0;
    box-shadow: none;
}
.btn {
    width: 300px;
    height: 50px;
    margin-left: 22.5px;
    margin-bottom: 10px;
    background: #03a9f4;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    border-radius: 10px;
    color: #ffffff;
}
.info {
    width: 1230px;
    height: 74px;
    background: #f6f7f8;
    margin-top: 40px;
    border-radius: 15px;
    position: relative;
}
.label2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #22262a;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 25px;
    position: absolute;
}
.label3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #22262a;
    margin-right: 40px;
    margin-left: 120px;
    margin-top: 25px;
    position: absolute;
}
.select {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #f6f7f8;

    color: #22262a;
    margin-right: 40px;
    margin-left: 220px;
    margin-top: 25px;
    position: absolute;
    border: none;
}
.auctions {
    width: 1230px;

    background: #ffffff;
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
}
.img {
    float: left;
    width: 383px;
    height: 350px;
    border-radius: 5px;
}
.name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-left: 400px;
    color: #22262a;
}
.price {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;

    letter-spacing: 0.5px;

    margin-left: 400px;

    color: #40bfff;
}
.status {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 180%;

    letter-spacing: 0.5px;

    margin-left: 400px;

    color: #000000;
}
.time {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #262626;
    margin-left: 400px;
}
.i {
    width: 20px;
    height: 20px;
    position: absolute;
}
.l {
    margin-left: 30px;
}
.btnDetail {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;
    margin-left: 20px;
    border-radius: 10px;

    color: #ffffff;
    width: 200px;
    height: 50px;
    background: #33a0ff;
}
