.group3 {
    position: relative;
    left: 50%;
    margin-left: -275px;
    width: 544px;
    height: 520px;
    background: #ffffff;
    box-shadow: 0px 0px 25px 10px #f8f8fb;
    margin-bottom: 100px;
    margin-top: 30px;
}

.group2 {
    position: absolute;
    width: 433px;
    height: 374px;
    margin: 50px;
}

.textField {
    box-sizing: border-box;
    width: 432px;
    height: 52px;
    border: 1px solid #c2c5e1;
    border-radius: 2px;
    margin-top: 10px;
}

.text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #9096b2;
    text-decoration: none;
}

.btnSignIn {
    width: 432px;
    height: 47px;
    background: #4c34c2;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.txtLogin {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}
